
schema-editor-view-table-view{
    height: 100%;
    width: 100%;
}

.schemaEditorView__container-table-creation{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.schemaEditorView__container-table-creation-info{
    display: flex;
    flex-direction: column;
    height:100%;
    background-color: #FCFCFC;
    align-items: center;
    /* box-shadow: 0 10px 10px  rgb(64 64 64 / 70%); */
    
}

.schemaEditorView__container-table-creation-info-table-name-input{
    height: 30px;
    margin: 20px 20px 20px 3px;
    width: 300px;
    border:1px #D1D1D1 solid;
    outline: none;
}
.schemaEditorView__container-table-creation-info-table-name-input:hover{
    border:1px #000000 solid;
}

.schemaEditorView__container-table-creation-info-header{
    width: 100%;
    display: flex;
    gap: 13px;
    align-items: center;
    border-bottom:1px #D1D1D1 solid;
}

.schemaEditorView__container-table-creation-info-header >div{
    padding-left:20px;

}

.schemaEditorView__container-table-creation-info-table-name-box{
    display: flex;
    align-items: center;
    gap: 4px;
    width: 50%;
}

.schemaEditorView__container-table-creation-info-table-name-box input{
    width: 100%;
    padding: 0 5px;
}

.schemaEditorView__container-table-creation-info-midcontain{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-right: 20px;
}
.schemaEditorView__container-table-creation-info-midcontain-heading{
    width: 100%;
    display: flex;
    align-items: center;
}

.schemaEditorView__container-table-creation-info-midcontain-heading >div{
    flex: 1;
}
.schemaEditorView__container-table-creation-info-midcontain-heading >div > h2 {
    text-align: center;
}

.schemaEditorView__container-table-creation-info-midcontain-heading .schemaEditorView__container-table-creation-info-midcontain-heading-col-expose{
    width: 150px;
    flex: unset;
}
/* .schemaEditorView__container-table-creation-info-header-more{
    background: red;
} */

.schemaEditorView__container-table-creation-info-midcontain-columns{
    width: 100%;
    flex: 1 1 0;
    overflow-y:auto;
}

.schemaEditorView__container-table-creation-info-footer{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 16px;
    background:#FAFAFA;
    border:1px #D1D1D1 solid;
}

.schemaEditorView__container-table-creation-info-footer-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.schemaEditorView__container-table-creation-info-footer-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.schemaEditorView__container-table-creation-info-footer-left >button{
    width: max-content;
    padding:8px 16px;
    background:#ff0000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius:5px;
    font-size: 16px;
}

.schemaEditorView__container-table-creation-info-footer-left >button:hover{
    background:#d80a0a;
}

.schemaEditorView__container-table-creation-info-footer-right >button{
    width: max-content;
    padding:8px 16px;
    background:#007bff;
    color: white;
    border: none;
    border-radius:5px;
    font-size: 16px;
}

.schemaEditorView__container-table-creation-info-footer-right >button:hover{
    background:#0271e7;
}

h2{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container{
    display: flex;
    gap: 4px;
}