table-column{
    width: 100%;
    height: 100%;
}
.schemaEditorView__container-table-creation-info-midcontain-columns-info{
    width: 100%;
    display: flex;
    align-items: center;
}

.schemaEditorView__container-table-creation-info-midcontain-columns-info > *{
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    margin-bottom: 15px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
}

.schemaEditorView__container-table-creation-info-midcontain-columns-info .container{
    width: 100px;
    flex: unset;
}

.schemaEditorView__container-table-creation-info-midcontain-columns-datatype-options{
    padding: 8px 16px;
    width: 100%;
    background: rgb(243, 242, 242);
    border-radius: 4px;
    font-size: 16px;
}

.schemaEditorView__container-table-creation-info-midcontain-columns-more{
    flex: unset;
    width: 3px;
}
